# VS Code Settings
.vscode/

# eclipse setting
.settings

.config
*.o
*.pyc

# MacOS directory files
.DS_Store

# cache dir
.cache/

# Components Unit Test Apps files
components/**/build/
components/**/build_*_*/
components/**/sdkconfig
components/**/sdkconfig.old

# Example project files
examples/**/build/
examples/**/build_*_*/
examples/**/sdkconfig
examples/**/sdkconfig.old

# ESP-IDF default build directory name
build

# lock files for examples and components
dependencies.lock

# managed_components for examples
managed_components
